<section class="schedule-index interior-content clearfix" id="ScheduleIndex">
    <h1 class="pagetitle cutout">Codecamp Schedule</h1>
    <table border="0" cellpadding="2" cellspacing="0" class=
    "table table-hover" style="width: 100%" summary="South Dakota Code Camp Schedule"
    width="100%">
        <thead>
            <th>Time</th>
            <% @session_rooms.each do |room| %>
            <th class="room-heading"><%= room.name %></th>
            <% end %>
        </thead>
        <tbody>
            <% @session_times.each_with_index do |session_time, index| %>
                <% if session_time.to_s == " 8:00 AM" %>
            <tr>
                <td class="time-col"><h2><%= session_time.to_s %></h2></td>
                <td style="text-align:center;" colspan="3">Registration &amp; Coffee/Rolls</td>
            </tr>
                <% elsif session_time.to_s == "11:45 AM" %>
            <tr>
                <td class="time-col"><h2><%= session_time.to_s %></h2></td>
                <td style="text-align:center;" colspan="3">Lunch (Provided)</td>
            </tr>
                <% elsif session_time.to_s == " 5:00 PM" %>
            <tr>
                <td class="time-col"><h2><%= session_time.to_s %></h2></td>
                <td style="text-align:center;" colspan="3">Closing Remarks</td>
            </tr>
                <% elsif session_time.to_s == " 6:00 PM" %>
            <tr>
                <td class="time-col"><h2><%= session_time.to_s %></h2></td>
                <td style="text-align:center;" colspan="3"><a href="https://www.google.com/maps?saddr=Augustana+College,+South+Summit+Avenue,+Sioux+Falls,+SD&daddr=Monks+House+of+Ale+Repute,+East+8th+Street,+Sioux+Falls,+SD&hl=en&sll=43.522429,-96.739364&sspn=0.01892,0.038581&geocode=FX0ZmAId3N87-iHahRc29_7hVintpKEd-7WOhzHahRc29_7hVg%3BFS6AmAIdaCQ8-iH8Ag-iqvpKPilvHfxupLWOhzH8Ag-iqvpKPg&oq=Monk&mra=ls&t=m&z=14" target="_blank" title="After Party at Monks">After Party @ Monks</a> - Sponsored by Zuercher Technologies</td>
            </tr>
                <% else %>
            <tr>
                <td class="time-col">
                    <h2><%= session_time.to_s %></h2>
                </td>
                <% @schedule[index].each do |session| %>
                    <% if session != "" %>
                        <td>
                        <%= link_to session, session_slug_path(session.slug,session) %><br>
                        <%= session.speaker %>
                        </td>
                    <% else %>
                        <td>tba</td>
                    <% end %>
                <% end %>
            </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>

</section>
