<section class="speaker-show interior-content clearfix">

<h1 class="pagetitle"><%= @speaker.fullname %></h1>

<div class="details">
    <div class="bio">
        <h6>Bio:</h6>
    <% if @speaker.bio %>
        <%= simple_format(@speaker.bio) %>
    <% else %>
        <p>Bio coming soon...
    <% end %>
    </div>
    <div class="social">
    <% if @speaker.twitter %>
        <p>Twitter: <a href="http://twitter.com/<%= @speaker.twitter %>"><%= @speaker.twitter %></a>
    <% end %>
    <% if @speaker.company %>
        <p>Company: <% if @speaker.company_url %><a href="<%= @speaker.company_url %>"><% end %><%= @speaker.company %><% if @speaker.company_url %></a><% end %>
    <% end %>
    <% if @speaker.personal_site %>
        <p><a href="<%= @speaker.personal_site %>">Personal Website</a>
    <% end %>
    </div>
</div>

</section>
