<!DOCTYPE html>

<html class="no-js" lang="en">
<head>
    <%= render "includes/head" %>
</head>
<body class="home">

    <%= render "includes/header" %>
    <%= render "includes/alert" %>

    <%= yield %>

    <%= render "includes/footer" %>
    <%= render "includes/ga" %>

</body>
</html>
